// Specific CSS for your home-page

.jumbo-img {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)),image-url("cover") center;
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    text-shadow: 1px 1px $grayblue;
  }
  h1, p {
    color: $lightgray;
    font-weight: lighter;
  }

  p {
    opacity: 0.8;
  }
}

.thumbnail-row {
  margin: 20px 0;
}

.home-body {
  min-height: 30 vh;
}
.home-body h2 {
  padding: 10px;
  border-top: 1px solid rgba(230, 126, 34, 0.3);
  font-weight: lighter;
}

.home-body p {
  padding: 0 20px;
  font-weight: lighter;
}

#home-background{
  background-color: $middle-gray;
}
