.show-content{
  margin: 20px;
  padding-top: 20px;
  padding-right: 10px;
  overflow: scroll;
}

.user-show-content{
  padding-top: 20px;
  padding-left: 15px;
}

.show-links {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: -7px;
}

.show-links p {
  border-bottom: 2px dotted black;
  padding-bottom: 14px;
  margin-bottom: 10px;

  a:hover{
  color: black;
  }
}



.fa-sliders-h:before {
  content: "\f1de";
  color: white;
}

