<%= render 'shared/navbar' %>
<div class="application-container-light">
  <div class="container-fluid show-container show-booking">
    <div class="row">
      <div class="col-xs-12 text-center">

        <p> Thanks for using SubMaster!</p>
        <p> To view your class status or sub another class, you can go back to the dashboard. You can also send us a review via submasters@info.com</p>

        <p> <%= link_to "View classes", lessons_path, class:"dark-button"%></p>

      </div>
    </div>
  </div>
</div>
