label {
  font-size: 16px;
  font-weight: 400;
  color: #C4C4C4;
}

.text-muted {
  color: #C4C4C4;
  font-size: 12px;
}

.form-control {
 display: block;
 width: 100%;
 height: 39px;
 padding: 6px 12px;
 font-size: 17px;
 line-height: 1.42857;
 color: #FFFFFF;
 background-color: transparent;
 background-image: none;
 border-radius: none;
 //border-style: 2px dotted #FFFFFF;
 border-bottom: 2px dotted #FFFFFF;
 border-top: 0px transparent;
 border-right: 0px transparent;
 border-left: 0px transparent;
}

// .checkbox-padding {
//   margin-left: 6px;
// }


.form-check label {
  margin-left: 10px;
}

.actions {
  text-align: center;
  line-height: 150%;

  a:hover {
  color: $lightblue;
}
}


