// containers

.application-container-light {
  flex-grow: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: $lightgray;
  margin: 0;
}

.application-container-dark {
  flex-grow: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  background-color: $darkblue;
  color: white;
  h2 {
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 10px;
  }
}

.container {
  min-width: 375px;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

// .form-container {
//   min-width: 375px;
//   max-width: 750px;
//   margin: 0 auto;
//   padding: 15px;
//   display: flex;
//   flex-direction: column;
// }

.container-fluid {
  min-width: 375px;
  // max-width: 750px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.show-container{
  background-color: $middle-gray;
  flex-grow: 1;
  // padding: 20px;
}

.long-card-container {
  background-color: $middle-gray;
  flex-grow: 1;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  overflow: scroll;
}

.thumbnail {
  border: 1px solid rgba(13, 26, 36, 0.2);
  h3 {
    text-transform: uppercase;
    color: $darkblue;
    font-weight: lighter;
  }
  p {
    color: $darkblue;
  }
}

.thumbnail:hover {
  opacity: 0.8;

}
// .orange {
//   color: $orange;
// }

.small-letters {
  font-size: 10px;
}
// html tags

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // line-height: 1.30;
}

h1 {
font-size: 40px;
}

h2 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
}

p {
 font-size: 16px;
}

a {
  color: #C4C4C4;
  font-size: 16px;
}

 a:hover {
  text-decoration: none !important;
}

