// containers

.application-container-light {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: $lightgray;
  margin: 0;
}

.application-container-dark {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: $darkblue;
  color: white;
  h2 {
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 10px;
  }
}

.show-container{
  background-color: $middle-gray;
  flex-grow: 1;
}

// .wrapper-dark{
//   // background-color: $darkblue;
//   color: white;
//   // height: 95vh;
//   h2 {
//     font-weight: 300;
//     color: #FFFFFF;
//     margin-top: 67px;
//     margin-bottom: 12px;
//   }
// }

.container-fluid {
  min-width: 375px;
  max-width: 750px;
}

.thumbnail {
  border: 1px solid rgba(230, 126, 34, 0.3);
  h3 {
    text-transform: uppercase;
    color: $darkblue;
    font-weight: lighter;
  }
  p {
    color: $darkblue;
    font-weight: lighter;
  }
}

.thumbnail:hover {
  opacity: 0.8;

}
.orange {
  color: $orange;
}

.small-letters {
  font-size: 10px;
}
// html tags

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
font-size: 40px;
}

h2 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
}

p {
 font-size: 16px;
}

a {
  color: #C4C4C4;
  font-size: 16px;
}

 a:hover {
  text-decoration: none !important;
}

