body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.application-container-light {
  flex-grow: 1;
  background-color: $light-gray;
}

.application-container-dark {
  flex-grow: 1;
  background-color: $darkblue;
}

// fonts

h1 {
font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
 font-size: 16px;
}

a {
  color: #C4C4C4;
  font-size: 16px;
}

 a:hover {
  text-decoration: none !important;
}

// p for cards: 8px;
