<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">
        </div>
        <div class="card-description">

        </div>
        <img class="card-user" src="">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
