.home-button {
  display: inline-block;
  text-align: center;
  background-color: white;
  text-transform: uppercase;
  color:  $darkblue;
  padding: 10px 20px;
  width: 280px;
  margin-bottom: 25px;
  border-radius: 3px;
}

.home-button:hover {
  text-decoration: none;
  color: greyli;
}


.dark-button {
  display: inline-block;
  text-align: center;
  background-color: $darkblue ;
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  width: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 13px;
}

.dark-button:hover {
  text-decoration: none;
}

.login-btn {
  display: inline-block;
  text-align: center;
  background-color: white;
  text-transform: uppercase;
  color:  $darkblue;
  padding: 10px 20px;
  width: 280px;
  margin: 25px 0;
  border-radius: 3px;
}

.login-btn:hover {
  color: grey;
}
