.long-card {
  margin-top: 10px;
  margin-left: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
  height: 100px;
  width: 95vw;
  background-color: $lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.long-card-img {
  position: relative;
  background: center;
}

.long-card-img:hover {
  opacity: 0.9;
}

.long-card-img p {
  font-size: 11px;
  font-weight: bolder;
  // margin-top: 15px;
  // text-align: center;
  text-transform: uppercase;
}

.long-card-text {
  position: relative;
  width: auto;
  height: 20px;
  color: white;
  background: rgba(13, 26, 36, 0.5);
}

.long-card-text:hover {
  opacity: 0.9;
}

.long-card-date {
  position: absolute;
  bottom: -10px;
  left: 5px;
}

.long-card-day {
  position: absolute;
  right: 5px;
  bottom: -10px;
}

.long-card-time {
  position: absolute;
  bottom: -10px;
  right: 32px;
}

.long-card-body {
  flex-grow: 1;
  padding-top: 18px;
}

.long-card-body p {
  padding-left: 15px;
  font-size: 13px;
}

.long-card-right {
  width: 50px;
  height: 100px;
  margin-right: 22px;
}

.long-card-right p {
  font-size: 13px;
  margin-top: 10px;

}
p.description {
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
p.address {
  color: #C4C4C4;
  text-transform: uppercase;
}
p.status {
  color: $yellow;
  text-align: left;
}
p.duration {
  padding-top: 29px;
  text-align: left;
}
p.cost {
  padding-bottom: 6px;
  font-weight: bolder;
}
