.long-card {
  margin-top: 10px;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  width: auto;
  background-color: $light-gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.long-card-img {
  width: 128px;
  height: 100px;
  left: -10px;
  background: image-url("crossfit-small") center;
  position: relative;
}

.long-card-img p {
  font-size: 11px;
  font-weight: bolder;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}
.long-card-text {
  position: relative;
  width: auto;
  height: 20px;
  top: 80px;
  background: rgba(13, 26, 36, 0.8);
  color: white;
}
.long-card-date {
  position: absolute;
  bottom: -10px;
  left: 5px;
}

.long-card-day {
  position: absolute;
  right: 5px;
  bottom: -10px;
}

.long-card-time {
  position: absolute;
  bottom: -10px;
  right: 32px;
}

.long-card-body {
  flex-grow: 1;
  padding-top: 17px;
}

.long-card-body p {
  padding-left: 10px;
  font-size: 13px;
}

.long-card-right {
  width: 50px;
  height: 100px;
}

.long-card-right p {
  font-size: 13px;
  width: 10px;
  margin-top: 9px;
}
p.description {
  font-size: 14px;
  line-height: 0px;
}
p.address {
  color: #C4C4C4;
  text-transform: uppercase;
}
p.status {
  color: $yellow;
}
p.duration {
  width: 50px;
  padding-top: 30.7px;
}
p.cost {
  padding-top: 10px;
}
