.long-card {
  margin-top: 10px;
  height: 120px;
  width: 350px;
  background-color: $lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 13px;
  }
}

.long-card-img {
  position: relative;
}

.long-card-img:hover {
  opacity: 0.9;
}

.long-card-img p {
  font-size: 11px;
  font-weight: bolder;
  text-transform: uppercase;
}

.long-card-text {
  position: relative;
  width: auto;
  height: 20px;
  color: white;
  background: rgba(13, 26, 36, 0.8);
}

.long-card-date {
  position: absolute;
  bottom: -10px;
  left: 5px;
}

.long-card-day {
  position: absolute;
  right: 5px;
  bottom: -10px;
}

.long-card-time {
  position: absolute;
  bottom: -10px;
  right: 32px;
}

.long-card-body {
  // flex-grow: 1;
  padding-top: 18px;
  line-height: 1;
}

.long-card-right {
  padding-top: 4px;
  line-height: 3;
}

p.description {
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}

p.address {
  color: #C4C4C4;
  text-transform: uppercase;
}
p.status {
  color: $yellow;
}

p.cost {
  font-weight: bolder;
  line-height: 1;
}
