.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 0px 25px;
  color: rgba(13, 26, 36, 0.4);
  background-color: white;
  box-shadow: 0 0 10px gray;

}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.25;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 5px;
}
.footer-links a:hover {
  color: $darkblue !important;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-text {
  float: left;
}
