/* Main navbar */
.navbar-wagon {
  background: $darkblue;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
}

/* Dropdown menu general styles*/
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  text-transform: uppercase;
}

.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  color: gray !important;
  font-size: 13px !important;
  line-height: 20px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

/*Left section */
/*  1. User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* 2. Navbar link: LOGIN sign when logged out*/
.navbar-wagon-link a {
  color: $lightgray;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-wagon-link a:hover {
  color: $grayblue;
}

/* 3. Dropdown menu on the left*/
.dropdown-menu-left:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  left: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* Middle section */
/* 1. Logo */
.navbar-wagon-brand img {
  height: 50px;
  filter: brightness(149%);
}

strong {
  flex-grow: 1;
  text-align: center;
}

/* Right section */
.fa-search {
  font-size: 28px;
}

.navbar-button {
  text-transform: none;
  background-color: $darkblue;
  color: $lightgray;
  outline-style: none;
  border: none;
}

.navbar-button:hover {
  color: $grayblue;
}
// .fa-search:hover{
//   color: $grayblue;
//   background-color: $darkblue;
// }
/* 1. Dropdown menu on the right */

// .dropdown-menu-right:before {
//   content: ' ';
//   height: 10px;
//   width: 10px;
//   position: absolute;
//   right: 10px;
//   top: -6px;
//   background-color: white;
//   transform: rotate(45deg);
//   border-left: 1px solid $middle-gray;
//   border-top: 1px solid $middle-gray;
// }
